@font-face {
    font-family: 'Nexa';
    src: url("../Font/Nexa\ Light.otf") format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url("../Font/Nexa\ Bold.otf") format("opentype");
}

@font-face{
    font-family: 'HelveticaNeue';
    src: url("../Font/HelveticaNeue Thin.ttf") format('truetype');
}

.bannersize{
    width: 100%;
    padding: 0px;
}
.mainBannerFont {
    font-family: Nexa;
    padding-bottom: 20px;
    font-size: 3.5em !important;
    font-weight: bold;
}

.bannerText {
    font-family: HelveticaNeue;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 1.3;
}

.centerImage {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.nopadding{
    background-color: #F4F4F4;
}

.imageSize{
    width: 65%;
    float: right;
}

.textSize{
    width: 50%;
    float: left;
    margin-top: 40px;
}

.mainTextBox{
    margin-top: 35%;
    width: 100%;
    left: 16px; 
    padding: 65px;
    text-align: left;
    color: #225357;
}
.arrow{
    margin-top:80px;
    width: 45%;
    position: absolute;
    top: 80%;
    left: 50%; 
    text-align: center;
}

.arrowSize {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    
}

  @media only screen 
  and (max-width: 800px){
    .imageSize{
        width:100%;
    }

    .mainBannerFont {
        padding-bottom: 10px;
        font-size: 30px;
    }
    
    .bannerText {
        padding-bottom: 20px;
        font-size: 13px;
        line-height: 1.3;
    }

    .mainTextBox{
        width: 100% !important;
        left: 16px; 
        padding-left: 0px;
        text-align: left;
        padding-top: 20px;
        overflow: hidden;
        padding: 35px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
     }

     .centerImage {
        display: block;
        margin: auto;
        margin-top: 70px;
        width: 100%;
        height: auto;
    }

    .arrow{
        width: 45%;
        top: 60%;
        left: 50%; 
        text-align: center;
    }
    
    .arrowSize {
        width: 30px;
    }
}

@media only screen 
and (min-width: 641px)
and (max-width: 1200px){
    .imageSize{
        width: 100%;
    }

    .mainBannerFont {
      font-family: Nexa;
      padding-bottom: 20px;
      text-align: left;
      color: #225357 !important;
      font-size: 56px;
      font-weight: bold;
  }
  
  .bannerText {
      font-family: HelveticaNeue;
      padding-bottom: 20px;
      text-align: left;
      color: #225357;
      font-size: 14px;
      line-height: 1.3;
  }

  .nopadding {
      padding: 0 !important;
      margin: 0 !important;
   }
}

