.float-frame {
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .float-unit {
    max-width: '100%';
    height: 'auto';
    background: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    float: left;
    position: absolute;
  }
  .img {
      object-fit: fill;
  }
  #project11:hover {
    width: 100px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0057ba;
  }

.hover11 img{
	opacity: 1;
	-webkit-transition: .001s ease-in-out;
    transition: .5s ease-in-out;
    
}
.hover11 :hover img{
    opacity: .3;
    color: black;
}

.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
	background: #5b6466;
	text-align: center;
    cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {

	color: #fff;
	text-transform: uppercase;
	font-size: 3.5vw;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
    font-size: 100%;
    font-weight: 800;
}

.grid figure h2 span {
    font-weight: 800;
    
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
    font-size: 100%;
    font-weight: 800;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
    
    
}

figure.effect-lily figcaption {
    text-align: left;
   
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
    text-align: center;
	padding: 1em;
	width: 100%;
    height: 80%;
    
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
    opacity: 0;
    
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    
}

figure.effect-lily p {
	color: rgba(255, 255, 255, 0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 1s, transform 0.35s;
}

figure.effect-lily:hover img {
    opacity: 0.2;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

@font-face {
    font-family: 'Nexa';
    src: url("../Font/Nexa\ Light.otf") format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url("../Font/Nexa\ Bold.otf") format("opentype");
}

@font-face{
    font-family: 'HelveticaNeue';
    src: url("../Font/HelveticaNeue Light.ttf") format('truetype');
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .popuptextmargin {
    margin: 150px;
 }

.textStyleTitle {
    font-size: 50px;
    text-Align: left;
    margin-bottom: 40px;
    font-family: Nexa;
}

.textStyleBody {
    font-size: 20px;
    text-align: left;
    font-family: HelveticaNeue;
}

.projectIcon {
    margin-bottom: 100px;
    margin-top: 120px;
    width: 140px;
}

.noscroll{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.rodal-close{
    top: 5% !important;
    right: 9% !important;
    position: fixed !important;
}

.maxwidth{
    width: 100%;
    height: auto;
}

@media only screen 
and (max-width: 640px){
    .MainImage{
        width: 100%;
        height: auto;
    }

    .popuptextmargin {
        margin: 10px;
     }

     .textStyleTitle {
        font-size: 20px;
        text-Align: left;
        margin-bottom: 20px;
    }

    .textStyleBody {
        font-size: 12px;
        text-align: left;
        margin-bottom: 30px;
    }

    .projectIcon {
        margin-bottom: 50px;
        margin-top: 100px;
        width: 140px;
    }
} 

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none !important;
    visibility: visible;
  }
  
  .span {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
  }