@font-face {
    font-family: 'Nexa';
    src: url("../Font/Nexa\ Light.otf") format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url("../Font/Nexa\ Bold.otf") format("opentype");
}

@font-face{
    font-family: 'HelveticaNeue';
    src: url("../Font/HelveticaNeue.ttf") format('truetype');
}

.mainfont {
    font-family: Nexa;
}

.BannerText {
    font-family: HelveticaNeue;
}

.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.body{
    display: "block";
    width: "100%";
    height: "auto";
    background-size: 'cover';
    background-color: #F4F4F4;
    background-position: 'ceter';
    margin-bottom: "10px";
    background-attachment: "fixed";
    overflow: "hidden";
    padding-bottom: "50px"
}

.MainImage{
    display: block;
    margin: auto;
    padding-left: 40px;
    padding-top: 130px;
    width: auto;
    height: 700px;

}

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .body {
        background-color: lightblue;
        width: 100%;
      }
      .MainImage{
          width: 100%;
          height: auto;
      }

}

