.App {
  width: "100%";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maxWidth{
  width: 100% !important;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 640px)
and (-webkit-min-device-pixel-ratio: 2) {
  .body {
      width: 100%;
    }
    .MainImage{
        width: 100%;
        height: auto;
    }
    .maxWidth{
      width: 100%;
      margin: auto;
    }
}